<footer class="py-5">
    <div class="container-lg">
        <div class="content px-5">
            <div class="contact_us">
                <p><a target="_blank" href="#">Questions? Contact us.</a></p>
            </div>
            <div class="row links m-0">
                <div class="col-md-3 col-6 p-0">
                    <ul class="list-unstyled m-0">
                        <li class="mt-2"><a href="#">FAQ</a></li>
                        <li class="mt-2"><a href="#">Investor Relations</a></li>
                        <li class="mt-2"><a href="#">Privacy</a></li>
                        <li class="mt-2"><a href="#">Speed Test</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-6 p-0">
                    <ul class="list-unstyled m-0">
                        <li class="mt-2"><a href="#">Help Center</a></li>
                        <li class="mt-2"><a href="#">Jobs</a></li>
                        <li class="mt-2"><a href="#">Cookie Preferences</a></li>
                        <li class="mt-2"><a href="#">Legal Notices</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-6 p-0">
                    <ul class="list-unstyled m-0">
                        <li class="mt-2"><a href="#">Account</a></li>
                        <li class="mt-2"><a href="#">Ways to Watch</a></li>
                        <li class="mt-2"><a href="#">Corporate Information</a></li>
                        <li class="mt-2"><a href="#">Movie Me Originals</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-6 p-0">
                    <ul class="list-unstyled m-0">
                        <li class="mt-2"><a href="#">Media Center</a></li>
                        <li class="mt-2"><a href="#">Terms of Use</a></li>
                        <li class="mt-2"><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="lang mt-4">
                <div class="d-flex flex-column">
                    <span (click)="test()" class="p-3"><i class="fas fa-globe mr-3"></i>English<i class="fas fa-sort-down ml-2"></i></span>
                    <ul [style.display]="flag?'none':'inline-block'">
                        <li>العربيه </li>
                        <li> English</li>
                    </ul>    
                </div>
                <p class="mt-3">Movie Me Egypt</p>
            </div>
        </div>
    </div>
</footer>