@import '../../styles.scss';
nav{position: fixed;width: 100%;top: 0;left: 0;transition: all 0.5s;background-color: rgba(0,0,0,0.5);z-index: 9999;}
.hide{top:-50%}
.active{color: $secondColor !important;}