@import '../../styles.scss';
:not(i){
    font-family: $mainFont;
}
header{
    height: 95vh;
    position: relative;
    .header_content{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right,$mainColor,rgba(23,23,23,.98) 20%,rgba(23,23,23,.97) 25%,rgba(23,23,23,.95) 35%,rgba(23,23,23,.94) 40%,
        rgba(23,23,23,.92) 45%,rgba(23,23,23,.9) 50%,rgba(23,23,23,.9) 55%,rgba(23,23,23,.9) 60%,rgba(23,23,23,.75) 65%,rgba(23,23,23,.63) 70%,
        rgba(23,23,23,.45) 75%,rgba(23,23,23,.27) 80%,rgba(23,23,23,.15) 85%,rgba(23,23,23,.08) 90%,rgba(23,23,23,.03) 95%,rgba(23,23,23,0) 100%);
        width: 50%;
        z-index: 9;
        ul{
            display: flex;
            list-style: none;
            padding: 0;
            li{
                color: $thirdColor;
                border-right: 1px solid;
                padding:0 10px;
                &:first-of-type{
                    padding-left: 0;
                }
                &:last-of-type{
                    border: none;
                }
                a{
                    color: $thirdColor;
                }
            }
        }
    }
    .bg{
        position: relative;
        float:right;
        background-size:cover;
        background-position:center center ;
        background-repeat: no-repeat;
        height: 100%;
        min-height: 300px;
        &::after
        {
            content: "";
            height: 5vh;
            width: 100%;
            background: linear-gradient(to top,$mainColor,transparent 100%);
            position: absolute;
            bottom: 0;
            right: 0;
        }
        
    }
    .all_want{
        position: absolute;
        bottom: 0;
        z-index: 9;
        width: 100%;
        .content{
            background-image: linear-gradient(to right,#333,#181818);
            overflow: auto;
            box-shadow: 0 0 10px #000;
            img{
                float: left;
                width: 40px;
                height: 40px;
            }
            div{
                overflow: hidden;
                padding-top: 5px;
                padding-left: 15px;
                p{
                    color: #fff;
                    font-weight: bold;
                    margin: 2px 0 0 0;
                    float: left;
                }
                button{
                    float: right;
                    background-color: $thirdColor;
                    border: none;
                    color: #fff;
                    padding: 3px 15px;
                    outline: none;
                    transition: all 0.5s;
                    &:hover{
                        background-color: $secondColor;
                    }
                }    
            }
        }
    }
}
.more_dts{
    h6{
        color: $thirdColor;
    }
    .genres{
        a{
            color: #fff;
            border-right: 1px solid #fff;
            padding:0 10px;
            display: inline-block;
            &:first-of-type{
                padding-left: 0;
            }
            &:last-of-type{
                border: none;
            }
        }
    }
    .date{
        p{
            color: #fff;
        }
    }
    .countries{
        p{
            color: #fff;
        }
    }
    .langs{
        p{
            color: #fff;
            border-right: 1px solid #fff;
            padding:0 10px;
            display: inline-block;
            &:first-of-type{
                padding-left: 0;
            }
            &:last-of-type{
                border: none;
            }
        }
    }
}
.coming_soon{
    p{
        font-size: 13px;
        span{
            color: $thirdColor;
        }
    }
}
//------------------ media queries ---------------
@media screen and(max-width:576px) {
    header{
        height: auto;
        .header_content{
            position: static;
            display: block;
            width: 100%;
            height: auto;
            margin-top: 50px;
            }
        .bg{
            float:none;
            height: 40%;
        }
        .all_want{
            position: static;
            margin-top: 30px;
            .content{
                img{
                    width: 60px;
                    height: 60px;
                }    
                div{
                    padding-top: 0;
                    p{
                        float: none !important;
                        display: block;
                    }
                    button{
                        float: none;
                        margin-top: 3px;
                    }
                }    
            }
        }    
    }
        
}
@media screen and (min-width:577px) and (max-width:768px) {
    header{
        .header_content{
            position: static;
            display: block;
            width: 100%;
            height: auto;
            margin-top: 50px;
            }
        .bg{
            float:none;
            height: 50%;
        }
        .all_want{
            position: static;
            margin-top: 10px;
        }
    }

}